<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <style>
        .main {
            background-color: brown;
            display: inline;
            align-items: flex-end;
            width: 100%;
            height: 50%;
        }
        .test {
            background-color: blue;
            font-family: sans-serif;
            width: 100px;
            height: 100px;    
            display: inline;
            margin: 5px;
            
            
        }
    </style>
</head>
<body>
    <div >
        <p class="test">THis a FirstOne</p>           
        <p class="test">THis a FirstOne</p>
        <p class="test">THis a FirstOne</p>
    </div>
    
</body>
</html>